.form-group label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.text-center{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.logincontent h2{
    left:50%;
    position: absolute;
    top: 20%;
    transform: translate(-50%,-50%);
}

.logincontent .jumbotron
{
        position: absolute;
        top:40%;
        left: 50%;
        transform: translate(-50%,-50%);
}