<div class="mynavbar">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand p-2" href="#">
   SELF PUBLISH
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" *ngIf="loginbtn" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" *ngIf="loginbtn" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <button type="button " *ngIf="logoutbtn" class="btn btn-block text-white " (click)="logout()">Logout</button>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" *ngIf="loginbtn" routerLink="/register" routerLinkActive="active">Registration</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link text-white" *ngIf="logoutbtn" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        
      </ul>
    </div>
  </nav>
</div>

