<app-anav></app-anav>
<div class="container mt-4">
<button class="btn button btn-danger" routerLink="/add">ADD Otp</button> <br> <br>
<table class="table table-stripped">
    <thead class="list">
        <th>Sr. No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Actions</th>
    </thead>

    <tbody>
        <tr *ngFor="let author of authors; let i = index;">
            <td>{{i+1}}</td>
            <td>{{author.name}}</td>
            <td>{{author.email}}</td>
            <td>{{author.password}}</td>
            <td>  <a href="edit/{{author.id}}" class="btn btn-success btn2">EDIT</a>    
                <button (click)="deleteAuthor(author)" class="btn btn-danger"> Delete</button>  </td>
        </tr>
    </tbody>
</table>
</div>