
<app-main-nav></app-main-nav>
<app-sidenavbar></app-sidenavbar>
<div class="container mt-5 p-5 mb-5" >
    <h1 class="title text-center">
        
        <b>Steps to self publish your book with us</b></h1>
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>Make sure your manuscript is ready with a summary and spellcheck</p>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>Select a cover from our cover templates or customize your cover with us </p>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>Fill our publis form with accurate details & we'll contact you further if the novel is good enough</p>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>4</h1>
                <p>Submit your manuscript by filling the correct OTP and make sure it's in the correct format </p>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>5</h1>
                <p>Make the payment according to the package selected  to publish your book </p>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>6</h1>
                <p>And ta-da your book is published. Keep calculating your royalty with our royalty calculator ! </p>
            </div>
        </div>
    </div>
</div>



