<splash-screen></splash-screen>
<app-main-nav></app-main-nav>
<section class="home">
    <div class="container homecontent mt-2 p-3">
        <img src="../../assets/logo.png" class="text-left" alt="mylogo">
    </div>
    <div class="container text-end  p-4">
    <p><b>Self Publishing Books Your Books With Us</b> <br>
        We help you to make your books available worldwide <br>providing you with more than 60% royalty !!!
    </p>
    <a routerLink="/register" routerLinkActive="active" class="btn btn-lg btn-primary">Register Now !!</a> 
    </div>
</section>
