<div class="sidebar-nav">
    <nav class="navbar navbar-dark bg-primary ">
        <div class="container">
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
  
            <!-- Menus List -->
            <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <li><a routerLink="/adashboard" routerLinkActive="active"><i class="bi bi-card-list"></i> <span class="item-text">Dashboard</span></a></li>
                        <li><a routerLink="/otp" routerLinkActive="active"><i class="bi bi-hourglass"></i> <span class="item-text">Generate Otp</span></a></li>
                        <li><a routerLink="/applications" routerLinkActive="active"><i class="bi bi-pencil-square"></i> <span class="item-text">Applications</span></a></li>
                        
                        <li><a routerLink="/payments" routerLinkActive="active"><i class="bi bi-credit-card"></i> <span class="item-text">Payments</span></a></li>
                        <li><a routerLink="/book" routerLinkActive="active"><i class="bi bi-book-fill"></i> <span class="item-text">Upload Books</span></a></li>
                        <li><a routerLink="/manuscripts" routerLinkActive="active"><i class="bi bi-credit-card"></i> <span class="item-text">Manuscripts</span></a></li>
                        
                    </ul>
              </div>
            </div>
  
            <div class="btn-group">
                <a class=" text-white text-decoration-none"  aria-expanded="false">
                    <span class="usericon"><i class="bi bi-person-circle"></i></span>
                    <span class="textnone">Hello Admin !!!</span>
                </a>
            </div>
  
        </div>
    </nav>
  </div>
